<div class="footer">
  <div class="footer-links">

    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p class="text-muted justify-content-left "><i class="far fa-copyright"></i> Basic Lead All Rights Reserved 2021</p>
  </div>
</div>
