
<div class="container">
      <div id="image" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1616778400/DISCOSPORT/BANNER_DISCOSPORT_wbyk1v.png);">
          <div class="container p-3">
            <div class="container">
              <h1>The New Frontiers of Sorts Television Business</h1>
              <h2 class="text-danger"> LIVE FROM LOS ANGELES & KIGALI </h2>
              <p  class="text-danger">  25 OCT. - 19 NOV. 2021  </p>
              <a class="btn btn-lg btn-outline-success" href="mailto:joa.azria@gmail.com?subject=Hello">REGISTER NOW</a>
            </div>

          </div>
    </div>
